@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Oswald:wght@700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  color: white;
  font-family: Lato;
}

body::-webkit-scrollbar {
  width: 10px;
}
body::-webkit-scrollbar-track {
  background-color: #000;
}
body::-webkit-scrollbar-thumb {
  background-color: #220000;
  border-radius: 10px;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 2%;
}

.clear {
  clear: both;
}

@media screen and (min-width: 1024px) {
  .trailer-trigger:hover .play-button {
    opacity: 1;
  }
  .trailer-trigger:hover .play-button .play-svg {
    opacity: 1;
  }
  .trailer-trigger .play-button {
    opacity: 0;
    transition: 0.25s;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    height: 40%;
    border-radius: 50%;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(17, 17, 17, 0.7), rgba(51, 51, 51, 0.7));
  }
  .trailer-trigger .play-button .play-svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: 50%;
    background-image: url(../assets/play-button.svg);
    background-position: center;
    background-repeat: no-repeat;
  }
}
.top-tag_all, div.movie-banner-wrapper .movie-banner .movie-banner-info .movie-banner-body .movie-banner-image .top-tag, div.movie-banner-wrapper .movie-banner .image .top-tag, div.movie-wrapper .movie .image .top-tag {
  background: linear-gradient(to left, #f00, #f00, #800);
  color: #fff;
}

.page-mask, div.trailer-mask, .descriptions, div.menu-mask {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
}

.trailer-header_all, div.trailer-mask .movie-banner-trailer .trailer-header, .descriptions .description .description-header {
  position: relative;
  padding: 6px;
  background: linear-gradient(to bottom, #0f0f0f, #191919, #222);
}

.trailer-title_all, div.trailer-mask .movie-banner-trailer .trailer-header .trailer-title, .descriptions .description .description-header .trailer-title {
  color: white;
  font-weight: normal;
  font-size: 18px;
  margin-left: 4px;
  max-width: calc(100% - 40px);
}

.movie-release_all, div.trailer-mask .movie-banner-trailer .trailer-header .movie-release, .descriptions .description .description-header .movie-release {
  color: #636363;
  margin-left: 4px;
  font-style: italic;
}

.description-close-button_all, div.trailer-mask .movie-banner-trailer .trailer-header .trailer-close-button, .descriptions .description .description-header .description-close-button {
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 18px;
  color: white;
  background-color: black;
  width: 25px;
  text-align: center;
  cursor: pointer;
}

.iframe-wrapper_all, div.trailer-mask .movie-banner-trailer .iframe-wrapper, .descriptions .description .iframe-wrapper {
  background-color: #111;
  text-align: center;
}

p {
  text-align: justify;
}

a {
  text-decoration: none;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #3f0000;
  border-bottom: 3px solid #180000;
  z-index: 5;
}
header .container {
  display: grid;
  grid-template-columns: 1.5fr 2.5fr 5.6fr 2.4fr;
}
header .container .logo {
  padding: 15px;
}
header .container .logo a {
  color: white;
}
header .container .logo a i {
  margin-right: 5px;
}
header .container .search-engine {
  width: 100%;
  align-content: center;
  padding: 15px;
  border-radius: 10px;
}
header .container .search-engine input {
  display: block;
  width: calc(100% - 30px);
  height: 30px;
  float: left;
  padding-left: 10px;
  padding-right: 3px;
  font-size: 15px;
  border: 0;
  color: #222;
  border-radius: 7px 0 0 7px;
}
header .container .search-engine input:focus {
  outline: 0;
}
header .container .search-engine i {
  width: 30px;
  height: 30px;
  font-size: 18px;
  padding-top: 6px;
  text-align: center;
  background-color: #777;
  display: block;
  float: left;
  cursor: pointer;
  transition: 0.5s;
  border-radius: 0 7px 7px 0;
}
header .container .search-engine i:hover {
  background-color: #444;
}
header .container .menu-mobile {
  display: none;
}
header .container .menu-categorias {
  padding: 0 10px;
  display: flex;
}
header .container .menu-categorias .menu-bar {
  display: none;
}
header .container .menu-categorias ul {
  list-style-type: none;
}
header .container .menu-categorias ul li {
  height: 100%;
  display: inline-block;
  cursor: pointer;
  transition: 0.25s ease-out;
  position: relative;
}
header .container .menu-categorias ul li:hover {
  background-color: #180000;
}
header .container .menu-categorias ul li:hover .submenu {
  display: block;
}
header .container .menu-categorias ul li a {
  height: 100%;
  display: inline-block;
  align-content: center;
  color: white;
  padding: 10px 12px;
}
header .container .menu-categorias ul li a i {
  margin-right: 8px;
}
header .container .menu-categorias ul li .submenu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: #3f0000;
  z-index: 3;
}
header .container .menu-categorias ul li .submenu ul {
  border-bottom: 3px solid #180000;
}
header .container .menu-categorias ul li .submenu ul li {
  display: block;
}
header .container .menu-categorias ul li .submenu ul li a {
  width: 100%;
}
header .container .user-area {
  display: flex;
  padding-inline: 10px;
}
header .container .user-area .user-avatar {
  width: 30px;
  height: 100%;
  margin-right: 10px;
  align-content: center;
  position: relative;
}
header .container .user-area .user-avatar .notificacoes {
  position: absolute;
  top: 10px;
  left: -4px;
  background-color: #ff0000;
  min-width: 14px;
  padding: 1px;
  border-radius: 3px;
  cursor: pointer;
}
header .container .user-area .user-avatar .notificacoes p {
  text-align: center;
  font-size: 10px;
  font-weight: 600;
}
header .container .user-area .user-avatar i {
  width: 30px;
  height: 30px;
  border-radius: 15px;
  border: 1px solid #999;
  align-content: center;
  text-align: center;
  font-size: 16px;
  color: #999;
  cursor: pointer;
  transition: 0.5s;
}
header .container .user-area .user-avatar i:hover {
  color: #fff;
  border: 1px solid #fff;
}
header .container .user-area .username {
  width: -moz-fit-content;
  width: fit-content;
  align-content: center;
  line-height: 20px;
  padding-inline: 5px;
}
header .container .user-area .username a {
  font-size: 16px;
  color: #fff;
}
header .container .user-area .username a:hover {
  text-decoration: underline;
}
header .container .user-area .configuracoes {
  align-content: center;
}
header .container .user-area .configuracoes i {
  width: 40px;
  height: 40px;
  font-size: 20px;
  text-align: center;
  padding-inline: 10px;
  align-content: center;
  color: #fff;
  cursor: pointer;
}

div.menu-mask {
  z-index: 4;
}

section.hero {
  width: 100%;
  height: 650px;
  background-image: url("https://c.pxhere.com/photos/6b/8e/chicago_theater_chicago_night_architecture_street_cinema-1339354.jpg!d");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  border-bottom: 3px solid #3f0000;
  position: relative;
  top: 58px;
}
section.hero::before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.9;
  transition: 0.5s ease-out;
}
section.hero .container {
  position: relative;
  height: 100%;
  display: flex;
  align-items: center;
}
section.hero .container .apresentacao {
  width: 50%;
  float: left;
}
section.hero .container .apresentacao h1 {
  font-size: 45px;
}
section.hero .container .apresentacao h2 {
  font-size: 22px;
  padding: 10px 0;
  font-weight: normal;
  margin-top: 20px;
}
section.hero .container .apresentacao p {
  font-size: 16px;
  line-height: 26px;
  margin-top: 30px;
}
section.hero .container .apresentacao .hero-cta {
  margin-top: 40px;
  padding: 11px 15px 11px 15px;
  font-size: 16px;
  border-radius: 30px;
  border: 0;
  background-color: #720000;
  color: #fff;
  display: flex;
  cursor: pointer;
  transition: 0.7s cubic-bezier(0.39, 0.575, 0.565, 1);
}
section.hero .container .apresentacao .hero-cta:hover {
  scale: 1.2;
  background-color: #ff0000;
}
section.hero .container .apresentacao .hero-cta i {
  width: 30px;
  height: 30px;
  font-size: 30px;
  margin-right: 10px;
}
section.hero .container .apresentacao .hero-cta p {
  font-weight: 500;
  margin-top: 2px;
  font-size: 18px;
}
section.hero .container .features-wrapper {
  width: 50%;
  float: left;
  text-align: center;
  padding: 45px;
}
section.hero .container .features-wrapper .features {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
section.hero .container .features-wrapper .features .feature-box {
  width: 100%;
  padding: 20px;
  text-align: center;
}
section.hero .container .features-wrapper .features .feature-box i {
  font-size: 40px;
  padding: 30px;
}
section.hero .container .features-wrapper .features .feature-box h1 {
  font-size: 20px;
  line-height: 30px;
  font-weight: normal;
}

section.main {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 122px 2% 30px 2%;
  background-color: #180000;
}

div.movie-wrapper {
  width: 11.1111111111%;
  margin: 15px 0;
}
div.movie-wrapper .movie {
  width: 100%;
  cursor: pointer;
}
div.movie-wrapper .movie .image {
  position: relative;
  bottom: 0;
  transition: 0.25s ease-out;
}
div.movie-wrapper .movie .image:hover {
  scale: 1.16;
  bottom: 18px;
  z-index: 1;
}
div.movie-wrapper .movie .image img {
  width: 100%;
}
div.movie-wrapper .movie .image .image-shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100% - 3px);
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8));
}
div.movie-wrapper .movie .image .top-tag {
  width: 100%;
  position: absolute;
  top: 0px;
  right: 0px;
  background: linear-gradient(to left, #f00, #f00, #800);
  color: #fff;
}
div.movie-wrapper .movie .image .top-tag p {
  font-size: 12px;
  text-align: center;
  padding: 2px 0;
  font-weight: 600;
}
div.movie-wrapper .movie .movie-rating {
  position: relative;
  padding: 5px;
  font-size: 12px;
  text-align: center;
  color: #fbff00;
  z-index: 1;
}
div.movie-wrapper .movie .title {
  text-align: center;
  padding-inline: 5px;
}
div.movie-wrapper .movie .title h3 {
  font-size: 16px;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
}
div.movie-wrapper .movie .title h3:hover {
  text-decoration: underline;
}

div.movie-banner-wrapper {
  width: 100%;
}
div.movie-banner-wrapper .movie-banner {
  width: 100%;
  max-width: 1200px;
  margin: 50px auto;
  padding: 8px;
  display: flex;
  border-top-left-radius: 30px;
}
div.movie-banner-wrapper .movie-banner .image {
  width: 33%;
  float: left;
  position: relative;
  cursor: pointer;
  border-top-left-radius: 30px;
}
div.movie-banner-wrapper .movie-banner .image img {
  width: 100%;
  border-radius: 30px 0 0 0px;
}
div.movie-banner-wrapper .movie-banner .image .image-shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100% - 3px);
  border-radius: 30px 0 0 0px;
  border-bottom: 8px solid #3f0000;
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.85));
}
div.movie-banner-wrapper .movie-banner .image .top-tag {
  width: 100%;
  position: absolute;
  top: 0px;
  right: 0px;
  border-top-left-radius: 30px;
}
div.movie-banner-wrapper .movie-banner .image .top-tag p {
  font-size: 16px;
  text-align: center;
  padding: 10px 0;
  font-weight: 600;
}
div.movie-banner-wrapper .movie-banner .movie-banner-info {
  width: 67%;
  float: left;
  position: relative;
}
div.movie-banner-wrapper .movie-banner .movie-banner-info .movie-banner-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px;
  background-color: #1f1a1a;
  border-radius: 0 30px 30px 0;
  letter-spacing: 4px;
  z-index: 1;
}
div.movie-banner-wrapper .movie-banner .movie-banner-info .movie-banner-header h2 {
  font-size: 18px;
}
div.movie-banner-wrapper .movie-banner .movie-banner-info .movie-banner-header h2 i {
  margin-right: 15px;
}
div.movie-banner-wrapper .movie-banner .movie-banner-info .movie-banner-header span {
  font-size: 16px;
  font-weight: normal;
  color: #ccc;
  float: right;
  letter-spacing: 2px;
}
div.movie-banner-wrapper .movie-banner .movie-banner-info .movie-banner-header span i {
  margin-right: 5px;
}
div.movie-banner-wrapper .movie-banner .movie-banner-info .movie-banner-body {
  position: absolute;
  top: 34.5px;
  left: 0;
  width: 100%;
  height: calc(100% - 106.5px);
  padding-top: 25px;
  padding-bottom: 10px;
  background-color: #272727;
  overflow-y: auto;
}
div.movie-banner-wrapper .movie-banner .movie-banner-info .movie-banner-body::-webkit-scrollbar {
  width: 11px;
}
div.movie-banner-wrapper .movie-banner .movie-banner-info .movie-banner-body::-webkit-scrollbar-track {
  border-radius: 10px;
  background: rgba(0, 0, 0, 0);
}
div.movie-banner-wrapper .movie-banner .movie-banner-info .movie-banner-body::-webkit-scrollbar-thumb {
  background-color: #0f0f0f;
  border-radius: 10px;
  border: 3px solid #272727;
}
div.movie-banner-wrapper .movie-banner .movie-banner-info .movie-banner-body .movie-banner-image {
  display: none;
  width: 100%;
  padding: 5px;
  position: relative;
}
div.movie-banner-wrapper .movie-banner .movie-banner-info .movie-banner-body .movie-banner-image img {
  width: 80%;
  display: block;
  margin: 0 auto;
}
div.movie-banner-wrapper .movie-banner .movie-banner-info .movie-banner-body .movie-banner-image .movie-banner-image-shadow {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: calc(80% - 5px);
  height: calc(100% - 5px);
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
  cursor: pointer;
}
div.movie-banner-wrapper .movie-banner .movie-banner-info .movie-banner-body .movie-banner-image .top-tag {
  width: 100%;
  position: absolute;
  top: 0px;
  right: 0px;
  border-top-left-radius: 30px;
}
div.movie-banner-wrapper .movie-banner .movie-banner-info .movie-banner-body .movie-banner-image .top-tag p {
  font-size: 16px;
  text-align: center;
  padding: 10px 0;
  font-weight: 600;
}
div.movie-banner-wrapper .movie-banner .movie-banner-info .movie-banner-body .movie-rating {
  margin-top: 5px;
  padding: 15px;
  font-size: 18px;
  text-align: center;
}
div.movie-banner-wrapper .movie-banner .movie-banner-info .movie-banner-body .movie-rating .movie-score {
  padding: 6px;
  border-radius: 8px;
  margin-right: 8px;
}
div.movie-banner-wrapper .movie-banner .movie-banner-info .movie-banner-body .movie-rating i {
  color: #fbff00;
}
div.movie-banner-wrapper .movie-banner .movie-banner-info .movie-banner-body .title {
  text-align: center;
  font-size: 18px;
  letter-spacing: 2px;
}
div.movie-banner-wrapper .movie-banner .movie-banner-info .movie-banner-body .movie-details {
  width: calc(100% - 60px);
  margin: 10px auto 0 auto;
  color: #636363;
  border-bottom: 2px solid #1f1a1a;
  font-style: italic;
}
div.movie-banner-wrapper .movie-banner .movie-banner-info .movie-banner-body .movie-details p {
  font-size: 18px;
}
div.movie-banner-wrapper .movie-banner .movie-banner-info .movie-banner-body .movie-details p:last-of-type {
  padding-bottom: 8px;
}
div.movie-banner-wrapper .movie-banner .movie-banner-info .movie-banner-body .description {
  font-size: 18px;
  line-height: 25px;
  padding: 10px 30px;
}
div.movie-banner-wrapper .movie-banner .movie-banner-info .movie-banner-footer {
  position: absolute;
  bottom: 3px;
  left: 0;
  width: 100%;
  height: 69px;
  padding: 20px;
  border-bottom: 8px solid #3f0000;
  background-color: #3f0000;
  z-index: 1;
}
div.movie-banner-wrapper .movie-banner .movie-banner-info .movie-banner-footer h2 {
  font-size: 16px;
  display: flex;
  justify-content: space-evenly;
  font-weight: normal;
}
div.movie-banner-wrapper .movie-banner .movie-banner-info .movie-banner-footer a {
  position: relative;
  color: white;
  display: inline-block;
  transition: 0.5s ease-out;
}
div.movie-banner-wrapper .movie-banner .movie-banner-info .movie-banner-footer a:hover {
  scale: 1.1;
}
div.movie-banner-wrapper .movie-banner .movie-banner-info .movie-banner-footer a i {
  margin-right: 15px;
}

.descriptions {
  z-index: 5;
}
.descriptions .description {
  position: relative;
  top: 50%;
  left: 50%;
  max-width: 1000px;
  transform: translate(-50%, -50%);
  background-color: white;
  color: black;
  z-index: 3;
  display: none;
}
.descriptions .description .iframe-wrapper iframe {
  width: 80% !important;
  height: 50vh !important;
}
.descriptions .description .description-body {
  padding: 10px;
  color: #222;
  max-height: 300px;
  overflow-y: auto;
}
.descriptions .description .description-body::-webkit-scrollbar {
  width: 11px;
}
.descriptions .description .description-body::-webkit-scrollbar-track {
  border-radius: 10px;
  background: rgba(0, 0, 0, 0);
}
.descriptions .description .description-body::-webkit-scrollbar-thumb {
  background-color: #777;
  border-radius: 10px;
  border: 3px solid #fff;
}
.descriptions .description .description-body .description-rating span {
  padding: 3px;
  border-radius: 4px;
  margin-right: 3px;
}
.descriptions .description .description-body .description-rating span i {
  margin-left: 15px;
  margin-right: 3px;
}
.descriptions .description .description-body .movie-details {
  margin-top: 10px;
}
.descriptions .description .description-body .movie-details p {
  font-style: italic;
  color: #444;
}
.descriptions .description .description-body > p {
  padding: 10px 0;
  line-height: 18px;
}
.descriptions .description .description-footer {
  padding: 6px;
  display: flex;
  justify-content: space-evenly;
  background-color: #aaa;
}
.descriptions .description .description-footer a {
  color: black;
  text-align: center;
  padding: 0 3px;
}
.descriptions .description .description-footer a:hover {
  text-decoration: underline;
}
.descriptions .description .description-footer a i {
  margin-right: 5px;
}

div.trailer-mask {
  z-index: 5;
}
div.trailer-mask .movie-banner-trailer {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 90vh;
}
div.trailer-mask .movie-banner-trailer .iframe-wrapper iframe {
  width: 100%;
  height: calc(80vh - 30px);
}

footer {
  width: 100%;
  background-color: #0f0f0f;
  padding: 40px 2%;
}
footer .container {
  max-width: 1280px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
footer .container .logo-footer {
  width: 100%;
  padding: 20px 150px 40px 20px;
}
footer .container .logo-footer a {
  color: #777;
}
footer .container .logo-footer a i {
  margin-right: 5px;
}
footer .container .logo-footer p {
  padding: 5px 0;
  line-height: 20px;
  color: #777;
}
footer .container .footer-links {
  padding: 10px;
}
footer .container .footer-links ul {
  list-style-type: none;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
}
footer .container .footer-links ul li {
  padding: 10px 0;
}
footer .container .footer-links ul li a {
  color: #777;
}
footer .container .footer-links ul li a:hover {
  text-decoration: underline;
}
footer .container .footer-social {
  padding: 20px;
  color: #777;
}
footer .container .footer-social ul {
  list-style-type: none;
  padding-top: 10px;
}
footer .container .footer-social ul li {
  font-size: 20px;
  padding: 5px 0;
}
footer .container .footer-social ul li a {
  color: #777;
  transition: 0.25s;
}
footer .container .footer-social ul li a:hover {
  color: #fff;
}
footer .container .footer-copyright {
  margin-top: 20px;
  padding: 20px;
  color: #777;
}
footer .container .author {
  margin-top: 20px;
  padding: 20px;
  color: #777;
}
footer .container .author a {
  color: #777;
  transition: 0.25s;
}
footer .container .author a:hover {
  color: #fff;
}
footer .container .author a i {
  font-size: 25px;
  margin-left: 10px;
}

div.scroll-up-button {
  position: fixed;
  bottom: 12px;
  right: 12px;
  width: 65px;
  height: 65px;
  border-radius: 32.5px;
  background-color: rgb(44, 0, 0);
  text-align: center;
  cursor: pointer;
  opacity: 0.7;
  z-index: 2;
}
div.scroll-up-button:active {
  background-color: #f00;
}
div.scroll-up-button i {
  line-height: 65px;
  font-size: 35px;
}

@media screen and (max-width: 1400px) {
  header .container {
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
  }
  header .container .logo {
    order: 2;
  }
  header .container .search-engine {
    display: none;
  }
  header .container .menu-categorias {
    display: none;
  }
  header .container .menu-mobile {
    order: 1;
    padding: 0 10px;
    display: flex;
    align-items: center;
  }
  header .container .menu-mobile .menu-bar {
    display: block;
    width: 30px;
    height: 24px;
    position: relative;
    top: 0;
    left: 0;
    cursor: pointer;
  }
  header .container .menu-mobile .menu-bar .bar-1, header .container .menu-mobile .menu-bar .bar-2, header .container .menu-mobile .menu-bar .bar-3 {
    width: 100%;
    height: 4px;
    background-color: white;
    border-radius: 2.5px;
    transition: 0.25s ease-out;
  }
  header .container .menu-mobile .menu-bar .bar-1 {
    position: absolute;
    top: 0;
    left: 0;
  }
  header .container .menu-mobile .menu-bar .bar-2 {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
  }
  header .container .menu-mobile .menu-bar .bar-3 {
    position: absolute;
    bottom: 0;
  }
  header .container .menu-mobile .main-ul {
    list-style-type: none;
    position: absolute;
    top: 59px;
    left: -250px;
    width: 250px;
    height: calc(100vh - 59px);
    background-color: #111;
    border-right: 2px solid #0e0e0e;
    overflow: auto;
    transition: 0.25s cubic-bezier(0.77, 0, 0.175, 1);
    z-index: 4;
  }
  header .container .menu-mobile .main-ul::-webkit-scrollbar {
    width: 0px;
  }
  header .container .menu-mobile .main-ul .user-li {
    display: none;
  }
  header .container .menu-mobile .main-ul .search-li {
    padding: 10px;
  }
  header .container .menu-mobile .main-ul .search-li .search-mobile {
    display: block;
    padding: 0;
  }
  header .container .menu-mobile .main-ul li {
    color: #ccc;
    background-color: #000;
  }
  header .container .menu-mobile .main-ul li p {
    padding: 5px 0 0 5px;
  }
  header .container .menu-mobile .main-ul li .submenu {
    margin-top: 7px;
  }
  header .container .menu-mobile .main-ul li .submenu ul {
    list-style-type: none;
  }
  header .container .menu-mobile .main-ul li .submenu ul li {
    background-color: #111;
  }
  header .container .menu-mobile .main-ul li .submenu ul li a {
    width: 100%;
    height: 100%;
    display: block;
    color: #ccc;
    padding: 5px;
  }
  header .container .menu-mobile .main-ul li .submenu ul li a:hover {
    background-color: #222;
  }
  header .container .user-area {
    order: 3;
  }
}
@media screen and (max-width: 1200px) {
  div.movie-wrapper {
    width: 16.6666666667%;
  }
  div.movie-wrapper .movie .title h3 {
    font-size: 14px;
  }
  div.movie-wrapper .movie .image:hover {
    scale: 1;
    bottom: 0;
    z-index: 0;
  }
  div.movie-banner-wrapper .movie-banner .movie-banner-info .movie-banner-body .movie-rating {
    margin: 15px 0 5px 0;
    padding: 5px;
    font-size: 16px;
  }
  div.movie-banner-wrapper .movie-banner .movie-banner-info .movie-banner-body .title {
    font-size: 16px;
    letter-spacing: 0;
  }
  footer .container {
    padding: 0;
  }
  footer .container .logo-footer {
    padding: 20px 20px 40px 20px;
  }
  footer .container .logo-footer p {
    text-align: left;
  }
}
@media screen and (max-width: 1024px) {
  section.hero {
    height: auto;
  }
  section.hero .container {
    flex-direction: column;
  }
  section.hero .container .apresentacao {
    width: 100%;
    padding: 60px 2%;
  }
  section.hero .container .apresentacao h1 {
    font-size: 40px;
  }
  section.hero .container .apresentacao h2 {
    font-size: 18px;
    padding: 5px 0;
    font-weight: normal;
    margin-top: 20px;
  }
  section.hero .container .apresentacao p {
    line-height: 22px;
  }
  section.hero .container .apresentacao .hero-cta:hover {
    scale: 1;
    background-color: #720000;
  }
  section.hero .container .apresentacao .hero-cta p {
    margin-top: 4px;
    font-size: 14px;
    text-align: center;
  }
  section.hero .container .features-wrapper {
    width: 100%;
    padding: 45px 2%;
  }
  section.hero .container .features-wrapper .features .feature-box {
    padding: 10px;
  }
  section.hero .container .features-wrapper .features .feature-box i {
    font-size: 30px;
  }
  section.hero .container .features-wrapper .features .feature-box h1 {
    font-size: 16px;
    line-height: 20px;
  }
  div.movie-banner-wrapper .movie-banner .movie-banner-info .movie-banner-header {
    padding: 10px;
    letter-spacing: 0px;
  }
  div.movie-banner-wrapper .movie-banner .movie-banner-info .movie-banner-header h2 {
    font-size: 16px;
  }
  div.movie-banner-wrapper .movie-banner .movie-banner-info .movie-banner-header h2 i {
    margin-right: 10px;
  }
  div.movie-banner-wrapper .movie-banner .movie-banner-info .movie-banner-header span {
    font-size: 14px;
  }
  div.movie-banner-wrapper .movie-banner .movie-banner-info .movie-banner-body {
    top: 19.5px;
    height: calc(100% - 61.5px);
    padding: 15px 0 5px 0;
  }
  div.movie-banner-wrapper .movie-banner .movie-banner-info .movie-banner-body .movie-details p {
    font-size: 16px;
  }
  div.movie-banner-wrapper .movie-banner .movie-banner-info .movie-banner-body .description {
    font-size: 16px;
    line-height: 22px;
  }
  div.movie-banner-wrapper .movie-banner .movie-banner-info .movie-banner-footer {
    height: 39px;
    padding: 10px;
  }
  div.movie-banner-wrapper .movie-banner .movie-banner-info .movie-banner-footer h2 {
    font-size: 12px;
  }
  div.movie-banner-wrapper .movie-banner .movie-banner-info .movie-banner-footer a:hover {
    scale: 1;
  }
  div.movie-banner-wrapper .movie-banner .movie-banner-info .movie-banner-footer a i {
    margin-right: 10px;
  }
  footer .container {
    grid-template-columns: 1fr;
  }
  footer .container .logo-footer {
    padding: 20px 10px;
  }
  footer .container .footer-links ul {
    margin: 0;
  }
  footer .container .footer-social, footer .container .footer-copyright, footer .container .author {
    padding: 10px;
  }
  footer .container .footer-social ul li {
    font-size: 30px;
  }
}
@media screen and (max-width: 768px) {
  div.movie-wrapper {
    width: 25%;
  }
  div.movie-banner-wrapper .movie-banner .image {
    display: none;
  }
  div.movie-banner-wrapper .movie-banner .movie-banner-info {
    width: 100%;
    float: none;
  }
  div.movie-banner-wrapper .movie-banner .movie-banner-info .movie-banner-header {
    position: static;
    border-radius: 0;
    background-color: #0f0f0f;
  }
  div.movie-banner-wrapper .movie-banner .movie-banner-info .movie-banner-header h2 {
    font-size: 16px;
    font-weight: 500;
  }
  div.movie-banner-wrapper .movie-banner .movie-banner-info .movie-banner-body {
    position: static;
    height: auto;
  }
  div.movie-banner-wrapper .movie-banner .movie-banner-info .movie-banner-body .movie-banner-image {
    display: block;
  }
  div.movie-banner-wrapper .movie-banner .movie-banner-info .movie-banner-body .movie-details {
    width: 90%;
  }
  div.movie-banner-wrapper .movie-banner .movie-banner-info .movie-banner-body .description {
    padding: 10px 5%;
  }
  div.movie-banner-wrapper .movie-banner .movie-banner-info .movie-banner-footer {
    position: static;
    height: auto;
    padding: 5px;
  }
  div.movie-banner-wrapper .movie-banner .movie-banner-info .movie-banner-footer h2 {
    display: block;
    text-align: center;
    font-size: 16px;
  }
  div.movie-banner-wrapper .movie-banner .movie-banner-info .movie-banner-footer h2 a {
    display: block;
    padding: 10px;
  }
}
@media screen and (max-width: 500px) {
  header .container {
    display: grid;
    grid-template-columns: 2fr 4fr;
  }
  header .container .menu-mobile .main-ul .user-li {
    display: block;
  }
  header .container .menu-mobile .main-ul .user-li .user-area {
    width: 100%;
    display: flex;
    padding: 10px;
  }
  header .container .menu-mobile .main-ul .user-li .user-area .user-avatar {
    width: 40px;
    height: 100%;
    margin-right: 10px;
    position: relative;
  }
  header .container .menu-mobile .main-ul .user-li .user-area .user-avatar .notificacoes {
    position: absolute;
    top: -4px;
    left: -4px;
    background-color: #ff0000;
    min-width: 14px;
    height: 18px;
    border-radius: 3px;
    cursor: pointer;
  }
  header .container .menu-mobile .main-ul .user-li .user-area .user-avatar .notificacoes p {
    position: relative;
    top: -4px;
    left: -4px;
    font-size: 12px;
    font-weight: 600;
  }
  header .container .menu-mobile .main-ul .user-li .user-area .user-avatar i {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    border: 1px solid #999;
    align-content: center;
    text-align: center;
    font-size: 20px;
    color: #999;
    cursor: pointer;
    transition: 0.5s;
  }
  header .container .menu-mobile .main-ul .user-li .user-area .username {
    width: -moz-fit-content;
    width: fit-content;
    align-content: center;
    line-height: 20px;
    padding-inline: 5px;
  }
  header .container .menu-mobile .main-ul .user-li .user-area .username a {
    font-size: 14px;
    color: #ccc;
  }
  header .container .menu-mobile .main-ul .user-li .user-area .configuracoes i {
    width: 40px;
    height: 40px;
    font-size: 25px;
    color: #fff;
    cursor: pointer;
  }
  header .container .user-area {
    display: none;
  }
  div.movie-wrapper {
    width: 33.3333333333%;
  }
}
@media screen and (max-width: 400px) {
  div.movie-banner-wrapper .movie-banner .movie-banner-info .movie-banner-header span {
    float: none;
    display: block;
    margin-top: 10px;
  }
}
@media screen and (max-width: 350px) {
  div.movie-wrapper {
    width: 50%;
  }
}
@media screen and (max-height: 700px) {
  .descriptions .description .iframe-wrapper iframe {
    width: 80% !important;
    height: 30vh !important;
  }
}/*# sourceMappingURL=sass.css.map */